@import "tailwindcss";

:root {
  --background: #F5F2EB;
  --foreground: #151515;
  --red: #A30018;

  --font-body: var(--font-sans);
  --font-title: var(--font-serif);
}

*,
*::before,
*::after{
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
  -webkit-text-size-adjust:100%;
}

body{
  position:relative;
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-body);
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:optimizeLegibility;
}

/* خامة الورق */

body::before{
  content:"";
  position:fixed;
  inset:0;
  pointer-events:none;
  z-index:9999;
  opacity:.018;

  background-image:
    radial-gradient(circle at 20% 20%,#000 .45px,transparent .7px),
    radial-gradient(circle at 80% 70%,#000 .45px,transparent .7px);

  background-size:24px 24px,30px 30px;
}

img{
  display:block;
  max-width:100%;
  height:auto;
}

a{
  color:inherit;
  text-decoration:none;
}

button{
  cursor:pointer;
}

h1,
h2,
h3,
.display{
  font-family:var(--font-title);
  line-height:1.08;
}

p{
  line-height:1.9;
}

::selection{
  background:var(--red);
  color:white;
}

/* Container */

.container{
  width:min(1280px,100% - 48px);
  margin-inline:auto;
}

@media (min-width:768px){

.container{
  width:min(1280px,calc(100% - 80px));
}

}

@media (min-width:1280px){

.container{
  width:min(1280px,calc(100% - 112px));
}

}

/* تحسين الأداء */

img,
video,
canvas,
svg{
  content-visibility:auto;
}

section{
  content-visibility:auto;
  contain-intrinsic-size:900px;
}

@media (max-width:768px){

body::before{
  opacity:.01;
}

}